/*Pseudo Code

*/
#navigation {
    font-size: 20px;
    font-family: 'Berkshire Swash', cursive;
    background-color: #CD924C;
}

h2 {
    font-family: 'Abhaya Libre', serif;
    font-size: 50px;
    text-align: center;
}

h3 {
    font-family: 'Abhaya Libre', serif;
    font-size: 40px;
    text-align: center; 
}

body {
    background-color: #EDCE9A;
}

p {
    font-family: 'Abhaya Libre', serif;
    font-size: 22px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}
.dev-pics {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.meet-devs img {
    width: 140px;
    height: 190px;
    padding-bottom: 30px;
}

.pawsible {
    background-color: #FFE8C1;
    width: 40%;
    margin: 0 auto;
    border: 5px solid #CD924C;
    border-radius: 10px;
    padding: 40px 10px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit {
    background-color: #CD924C;
}
#find-friend {
    padding: 50px 0 20px 0;
}
.fyff {
    background-color: #FFDA9B;
    width: 40%;
    margin: 0 auto;
    border: 5px solid #CD924C;
    border-radius: 10px;
    padding: 40px 10px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fyff input {
    width: 100%;
    margin: 0 0 20px 0;
}